/* Updated CSS */
.custom-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #112D4E;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  z-index: 1; /* Ensure the navbar is above other content */
}

.content {
  margin-top: 8%; /* Add margin to content to push it below the navbar */
}

/* Rest of your CSS remains the same */
